<!DOCTYPE html>
    <html lang="en-ie">
        <head>
            <title>Profile</title>
        </head>
        <body>
            <h1>Welcome <%= person %>!</h1>
            <ul>
                <li>Age: <%= data.age %></li>
                <li>Job: <%= data.job %></li>
            </ul>
        </body>
    </html>